{
	"host": "irc.freenode.net",
	"nickname": "RakudoBot",
	"password": "",
	"username": "RakudoBot",
	"channel": "#channel_name",

	"maintainer": "Kaiepi",
	"source": "https://github.com/Kaiepi/p6-RakudoBot",
	"rakudo_path": "/home/kaiepi/Documents/perl6/rakudo",
	"config_flags": [
		"--gen-moar"
	],

	"debug": false
}
