{
	"host": "irc.freenode.net",
	"nickname": "RakudoBot",
	"password": "",
	"username": "RakudoBot",
	"channel": "#channel_name",

	"maintainer": "Kaiepi",
	"source": "https://github.com/Kaiepi/p6-RakudoBot.git",
	"rakudo_path": "~/Documents/perl6/rakudo",
	"config_flags": [
		"--gen-moar",
		"--moar-option='--has-dyncall'",
		"--backends=moar"
	],

	"debug": false
}
