{
	"host": "irc.freenode.net",
	"nickname": "RakudoBot",
	"password": "",
	"username": "RakudoBot",
	"channel": "#channel_name",

	"maintainer": "Kaiepi",
	"source": "https://github.com/Kaiepi/p6-RakudoBot",
	"test_jobs": 4,
	"config_flags":	[
		"--gen-moar"
	],

	"debug": false
}
